body {
    zoom: 150%;
   
}

#container {
    border: double;
}

#carousel {
    max-width: 50%
}

.image {
    text-align: center;
    padding-top: 5px;
}
button.navbar-toggler {
    /*border-color: antiquewhite;*/
}
footer {
    
    border-top: solid 2px;
    color: #D5D5D5;
    background-color: #668F80;
}
.navbar-nav li a:hover {
    
    background-color: grey !important;

}
navbar-toggler:focus {
    background-color: #fff;
    box-shadow: none;
}
.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

footer nav-link {
    color: #D5D5D5;
}

div .container {
    padding-left: 10px;
}

header {
   background-color: #2d2d30;
    margin-bottom: 2em;
    color: white;
}

h1 {
    text-align: center;
}

P {
    padding: 10px;
    text-align: center;
}

/*.row{*/
/*    background-image: linear-gradient(green,lightgreen);*/
/*}*/
@media all and (max-width: 370px) {
    footer {}
}

header {
    position: sticky !important;
    z-index: 10;
    top: 0px;
}

.navbar {
    margin-bottom: 0;
    background-color: #2D2D30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.5;
    border-radius: 0px;
}

/* Add a gray color to all navbar links */
.navbar li a,
.navbar .navbar-brand {
    color: #D5D5D5 !important;
}

button.navbar-toggler {
    border-color: antiquewhite;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
    background-color: grey !important;
}

.navbar-toggler:focus {
    background-color: #fff;
    box-shadow: none;
}

/* The active link */
.active a {
    color: #fff !important;
    background-color: #29292C !important;
}

.earth-logo {
    width: 2em;
}

/*.navbar-default {*/
/*    background-color: none;*/
/*    border-color: none;*/
/*}*/
/* Remove border color from the collapsible button */
.navbar .navbar-toggle {
    border-color: #F5F5F5;
}

.navbar-toggle .icon-bar {
    background-color: #F5F5F5;
}

.navbar-collapse {
    text-align: center;
}

/*span.navbar-toggler-icon{*/
/*    color: red;*/
/*}*/
Dropdown .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}
